/* custom.css */
/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 主页标题 */  
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #326ffd);
  /* 主页图片背景 */
  --vp-home-hero-image-background-image: -webkit-linear-gradient(120deg, #326ffd,#bd34fe);
  --vp-home-hero-image-filter: blur(150px);
}
/* 主页按钮颜色 */
:root {
  --vp-c-brand-1: #326ffd;
  --vp-c-brand-2: #5b8cfd;
  --vp-c-brand-3: #326ffd;
}

/* 主页字体 */
:root {
  --vp-font-family-base: 'DingTalk',sans-serif;
  --vp-font-family-mono: 'DingTalk',sans-serif;
}
