@font-face {
    font-family: 'PingFang SC';
    src: url('https://fonts.workstatic.cn/fonts/PingFangSC/woff2/PingFangSC-Regular.woff2') format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DingTalk';
    src: url('https://fonts.workstatic.cn/fonts/DingTalk/DingTalk-JinBuTi.woff2') format('woff2'),
         url('https://fonts.workstatic.cn/fonts/DingTalk/DingTalk-JinBuTi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }